node_modules/
public/lib
public/img/uploads

.DS_Store
.orig

# comenting out this line of code because git need to track server side js
# *.js
# replaced this with the next line to ignore js files created from ts
public/angular/js/*.js
typings/

# DO NOT upload to GIT!
# Place api keys here
Config.*
