<h2>About</h2>

<h3>A different way to get fit and stay active</h3>
<h4>Create a digital bridge between fitness trainers and their clients.</h4>
<h5>A New Way To Train</h5>
<h6>In this digital age, working out is no longer connected to a physical space. Trainerize empowers fitness professionals to be closer to their clients anytime, anywhere. By combining online workout tracking, meal planning, client communication, and access to the world’s best fitness add-ons, Trainerize makes it possible for trainers to look after their clients in a revolutionary new way. It saves time and resources, taking away the burden of planning, managing and scheduling. This allows fitness professionals to focus on what they love to do most: train and motivate their clients.</h6>
