<h2>About</h2>

<div class="about">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>A New and Easy Way to be Fit and Stay Strong.</h3>
            <h4>Now there is a virtual connection between trainers and clients.</h4>
        </div>
    </div>
</div>
<div class="about1">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5>Training, made simple</h5>
            <h6>With most of this day and age centered around technology, working out has finally caught up. Trainer Tool helps professional fitness trainers and teachers easily accessable to their clients.  Trainers can now track and schedule clients workouts, communicate easily and virtually show through short video clips exactly how a workout should be done. It saves both trainers and clients time and resources making every aspect of working out simpler. 
        </div>
    </div>
</div>
