<!-- There needs to be an id connection here for the name of client, to create a schedule and send a message -->

<!-- <h2>Connect with {{ messageController.user.firstname }}</h2> -->
<h2>Connect with <br>
    Your Client</h2>

<div class="connect">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5>By clicking on one of the buttons below, you will be able to either schedule a workout or send a message to your client!</h5>

            <a class="btn btn-primary" ng-click="messageController.goToPage ('schedule-create-client')">Create Schedule</a><br>
            <a class="btn btn-primary" ng-click="messageController.goToPage ('message-create-client')">Send Message</a>            
        </div>
    </div>
</div>
