<h2>Create Message</h2>

<form id="msg" ng-submit="messageController.create ()">

    <div ng-if="messageController.trainer">
        <label>To:</label>
        <select ng-model="messageController.message.to">
            <option ng-repeat="client in messageController.clientList" value="{{client._id}}">{{client.firstname}} {{client.lastname}}</option>
        </select>
    </div>
    <div ng-if="messageController.trainer == false">
        <p>PUT TRAINER INFO HERE</p>
    </div>

    <div>
        <label>Message: </label>
        <textarea rows="5" cols="50" autofocus form="msg" ng-model="messageController.message.content">
        </textarea>
    </div>

    <button>Send Message</button>
</form>
