<h2>Your Messages</h2>

<div class="inbox">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Below is your inbox of messages your clients have sent you. If you want to send any one of your clients a message, please click on the Create button. Lets get training!</p>
            <button ng-click="messageController.goToPage ('message-create')">Create</button><br>
        </div>
    </div>
</div>
<ul class="inbox">
    <li ng-repeat="message in messageController.list">
        <div class="panel panel-default">
            <div class="panel-body"><strong>Date: </strong><a href="#" ng-click="messageController.goToPage('message-view', {id: message._id})">{{ message.date | date: 'yyyy-MM-dd' }} {{message.content}} ...</a></div>
        </div>
    </li>
</ul>
