<h2>Videos</h2>

<button ng-click="videoController.goToPage('video-create')">Create a New Video</button><br>

<button ng-click="videoController.read ()">Your Videos</button>

<div class="video">
    <ul>
        <li ng-repeat="video in videoController.list">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- <table border="1"> -->
                        <!-- <tr> -->
                            <strong>Name: </strong>
                            <a href="#" ng-click="videoController.goToPage('video-view', {id:video._id})">{{ video.name }}</a><br>
                        <!-- </tr> -->
                        <!-- <tr> -->
                            <strong>Video: </strong>
                            <div>{{ video.url }}</div>
                        <!-- </tr> -->
                    <!-- </table> -->
                </div>
            </div>
        </li>
    </ul>
</div>
