<h2>Videos</h2>


<div class="connect">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5>Welcome to your Video page! Here you can create new videos and by clicking on one, you can update its information.Lets go!</h5>
            <a class="btn btn-primary" ng-click="videoController.goToPage('video-create')">Create a New Video</a><br>

            <a class="btn btn-primary" ng-click="videoController.read ()">View Videos</a>
        </div>
    </div>
</div>

<div class="video">
    <ul>
        <li ng-repeat="video in videoController.list">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- <table border="1"> -->
                        <!-- <tr> -->
                            <!-- TRAINER -->
                            <strong>Name: </strong>
                            <a href="#" ng-click="videoController.goToPage('video-view', {id:video._id})">{{ video.name }}</a><br>
                        <!-- </tr> -->
                        <!-- <tr> -->
                            <!-- <strong>Video: </strong> -->
                            <!-- <iframe ng-src="{{video}}"></iframe> -->
                            <a href="{{ video.url }}" target="_blank">Youtube</a>
                        <!-- </tr> -->
                    <!-- </table> -->
                </div>
            </div>
        </li>
    </ul>
</div>
