<h2>customer registration</h2>

<form method='POST' action="/register" enctype="multipart/form-data">
    <strong>Account LogIn</strong>
    <div>
        <input type="text" class="form-control" name="email" placeholder="E-mail" required=>
    </div>
    <div>
        <input type="password" class="form-control" name="password" placeholder="Password" required="min 8">
    </div>
    <strong>Personal Information</strong>
    <div>
        <input type="text" class="form-control" name="firstname" placeholder="First Name"required="">
    </div>    
    <div>
        <input type="text" class="form-control" name="lastname" placeholder="Last Name">
    </div>
    <strong>Gender</strong>
    <div>
        <label>Male</label>
        <input type="radio" name="gender" value="male">
    </div>
    <div>
        <label>Female</label>
        <input type="radio" name="gender" value="female">
    </div>
    <strong>Mailing Address</strong>
    <div>
        <input type="text" class="form-control" name="address" placeholder="Address">
    </div>
    <div>
        <input type="text" class="form-control" name="city" placeholder="City/Town">
    </div>
    <div>
        <input type="text" class="form-control" name="state" placeholder="State">
    </div>
    <div>
        <input type="text" class="form-control" name="zipcode" placeholder="Zip/Postal Code">
    </div>
    <div>
        <input type="text" class="form-control" name="phone" placeholder="Phone Number">
    </div>
    <div>
        <label>Upload Picture</label>
        <input type="file" name="imageFile">
    </div>

    <button type="submit">Register</button>
</form>
