<h2>{{ workoutController.mode }} Workout</h2>

<form ng-submit="workoutController.create (workoutController.workout._id)">
    <div>
        <label>Name: </label><br>
        <input ng-model="workoutController.workout.name">
    </div>
    <div>
        <label>Workout: </label>
        <textarea rows="7" cols="60" ng-model="workoutController.workout.workout"></textarea>
    </div>
    <!-- <button>{{ workoutControler.mode }}</button> -->
    <button>{{ workoutController.mode }}</button>
</form>
