<h2>Your Workout</h2>

<div class="workout">
    <div class="panel panel-default">
        <div class="panel-body">
            <strong>Name: </strong>{{ workoutController.workout.name }}<br>
            <strong>Workout: </strong> {{ workoutController.workout.workout }}<br>
            <a class="btn btn-primary" ng-click="workoutController.goToPage ('workout-edit', { id: workoutController.workout._id})">Edit</a>
            <a class="btn btn-primary" ng-click="workoutController.delete(workoutController.workout._id)">Delete</a>
        </div>
    </div>
</div>
