<h2>Your Workout</h2>

<button ng-click="workoutController.goToPage ('workout-edit', { id: workoutController.workout._id})">Edit</button><br>
<button ng-click="workoutController.delete(workoutController.workout._id)">Delete</button><br>


<div class="row">
<div class="workout">
    <div class="panel panel-default">
        <div class="panel-body">
            <strong>Name: </strong>{{ workoutController.workout.name }}<br>
            <strong>Workout: </strong> {{ workoutController.workout.workout }}
        </div>
    </div>
</div>
</div>
