<h2>{{ scheduleController.mode }} Schedule <br>
for {{ scheduleController.client.firstname + ' ' + scheduleController.client.lastname }}</h2>

<form ng-submit="scheduleController.create (scheduleController.schedule._id)">
    <div class="schedule">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ng-if="scheduleController.trainer && messageController.clientId == false"">
                    <label>To:</label><br>
                    <select ng-model="scheduleController.schedule.user">
                        <option ng-repeat="client in scheduleController.clientList" value="{{client._id}}">{{client.firstname}} {{client.lastname}}</option>
                    </select>
                </div>
                <div>
                    <label>Date: </label><br>
                    <input type="date" ng-model="scheduleController.schedule.date">{{ scheduleController.schedule.date | date: 'yyyy-MM-dd' }}
                </div>
                <div>
                    <label>Choose Workout:</label>
                    <!-- Drop down of workouts already created-->
                    <select ng-model="scheduleController.schedule.workout">
                        <option ng-repeat="workout in scheduleController.workoutList" value="{{workout._id}}">{{ workout.name }}</option>
                    </select>
                </div>
                <!-- <label>OR</label>
                <div> -->
                    <!-- <label>Create a New Workout:</label> -->
                    <!-- Button taking you to create a workout page and after you create it, it takes you back to this page and populates that new workout -->
                    <!-- <a class="btn btn-primary" ng-click="scheduleController.goToPage ('workout-create')">Create a New Workout</a>
                </div> -->
            </div>
        </div>
    <button>{{ scheduleController.mode }}</button>
</form>
