<h2>Your Schedule</h2>

<div class="list">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>By clicking the button below, you can view all of the workout schedules you have received from your trainer. Get to it!</p>
    <!-- <button ng-click="scheduleController.goToPage ('schedule-create')">Create</button><br> -->
            <button ng-click="scheduleController.read ()">View Schedules</button>
            <p>If you aren't sure how to do a specific exercise, check out your trainer's list of videos! They might have that exercise listed.</p>
            <button ng-click="scheduleController.goToPage ('video')">Video Page</button>
        </div>
    </div>
</div>

<ul class="workout">
    <li ng-repeat="schedule in scheduleController.list">
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>Date: </strong>
                <a href="#" ng-click="scheduleController.goToPage('schedule-view', {id:schedule._id})">{{ schedule.date | date: 'yyyy-MM-dd' }}</a>
            </div>
        </div>
    </li>
</ul>
