<h2>Schedule</h2>

<!-- Need to add if statement -->
<div ng-if="scheduleController.trainer">
    <button ng-click="scheduleController.goToPage('schedule-edit', { id: scheduleController.schedule._id })">Edit</button><br>
    <button ng-click="scheduleController.delete(scheduleController.schedule._id)">Delete</button><br>
</div>

<div class="workout">
    <div class="panel panel-default panel-horizontal">
        <div class="panel-body">
            <strong>Date: </strong>{{ scheduleController.schedule.date | date: 'yyyy-MM-dd' }}<br>
            <strong>{{ scheduleController.schedule.workout.name }}</strong>
            <p>{{ scheduleController.schedule.workout.workout }}</p> 
        </div>
    </div>
</div>
