<h2>Your Schedule</h2>

<button ng-click="scheduleController.goToPage('schedule-edit', { id: scheduleController.schedule._id })">Edit</button><br>
<button ng-click="scheduleController.delete(scheduleController.schedule._id)">Delete</button><br>

<div class="workout">
    <div class="panel panel-default panel-horizontal">
        <div class="panel-body">
            <strong>Date: </strong>{{ scheduleController.schedule.date | date: 'yyyy-MM-dd' }}<br>
            <strong>Workout: </strong> {{ scheduleController.workoutList.name }}
        </div>
    </div>
</div>
