<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Trainer Tool</title>

        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="/css/style.less" type="text/less">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <!-- set options before less.js script -->
        <script>
         less = {
           env: "development",
           async: false,
           fileAsync: false,
           poll: 1000,
           functions: {},
           dumpLineNumbers: "comments",
           relativeUrls: false,
           rootpath: ":/a.com/"
         };
        </script>

        <script src="/lib/less/dist/less.js"></script>
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{data.googleApiKey}}"
         async defer>
        </script>

    </head>
    <body ng-app='App'>

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="container">
                    {{#if user}}
                    <div class="profile-header-container">
                        <div class="profile-header-img">
                            <img class="img-circle" src="{{data.user.imageUrl}}" />
                            <!-- profile name -->
                            <!-- <div class="rank-label-container">
                            <span class="label label-default rank-label">{{ data.user.firstname}}</span>
                            </div> -->
                        </div>
                    </div>
                    {{/if}}
                <a href="/">HOME</a>
                <a href="/about">ABOUT</a>
                <!-- <a href="/contact">CONTACT</a> -->
                <!-- <a href="/trainer/#/trainer-map">TRAINER-MAP</a> -->
                {{#if user.client}}
                <a href="/trainer/#/schedule">SCHEDULE</a>
                {{/if}}
                {{#if user.train}}
                <a href="/trainer/#/workout">WORKOUTS</a>
                <!-- NOTE: need to add html template so trainers can view only their clients -->
                <a href="/trainer/#/client">CLIENTS</a>
                {{/if}}
                {{#if user.admin}}
                <a href="/user">USERS</a>
                {{/if}}
                {{#if user}}
                <a href="/logout">LOG-OUT</a>
                {{else}}
                <a href="/register">REGISTER</a>
                <a href="/login">LOG-IN</a>
                {{/if}}
            </div>
        </nav>


        <div ui-view></div>
        <!-- <div class="row"> -->
        <footer class="footer">
            <div class="container">
                <p class="text">trainertool@gmail.com</p>
            </div>
        </footer>
        <!-- </div> -->

        <script src="/lib/angular/angular.js"></script>
        <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

        <script src="/angular/js/App.js"></script>
        <script src="/angular/js/UserService.js"></script>
        <script src="/angular/js/WorkoutService.js"></script>
        <script src="/angular/js/WorkoutController.js"></script>
        <script src="/angular/js/TrainerMapService.js"></script>
        <script src="/angular/js/TrainerMapController.js"></script>
        <script src="/angular/js/ScheduleService.js"></script>
        <script src="/angular/js/ScheduleController.js"></script>
        <script src="/angular/js/VideoService.js"></script>
        <script src="/angular/js/VideoController.js"></script>

    </body>
</html>
