<h2>Edit profile picture</h2>

<div class="profilepic">
    <img src="{{data.user.imageUrl}}">
</div>

<form method='POST' action="/user/{{data.user.id}}/pic" enctype="multipart/form-data">
    <input type="hidden" name="method" value="{{data.method}}">
    <input type="file" name="imageFile">
    <button type="submit">Change picture</button>
</form>
