<h2>View User</h2>

<a href="/user/{{ data.user.id }}/edit">Edit User</a>
<a href="/user/{{ data.user.id }}/delete">Delete User</a>


<div>
    <div>
        <strong>Name </strong>{{data.user.username}}
    </div>
</div>
