<h2>{{ videoController.mode }} Video</h2>

<form ng-submit="videoController.create (videoController.video._id)">
    <div class="schedule">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <p>Please copy and paste your video's url into the form. When clients go to view your video, it will take them to YouTube or wherever your video is located.</p>
                    <label>Name: </label><br>
                    <input ng-model="videoController.video.name">
                </div>
                <div>
                    <label>Video Url: </label><br>
                    <input ng-model="videoController.video.url">
                </div>
                <a class="btn btn-primary">{{ videoController.mode }}</a>
            </div>
        </div>
    </div>
</form>
